@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

@import "colors";

@import"cart";

body{
    background-color: $primary;
    color: $tertiary;
    overflow-x: hidden;
}


.error-page {
    display: flex;
    justify-content: center;
    align-items: center;

    h1{
        font-size: 3rem;
        color: red;
    }
}




@import"mediaQuery";