@media screen and (max-width:820px){
    .cart{
        grid-template-columns: 1fr;

        aside {
            padding: 2rem;
            box-shadow: none;
            align-items: flex-start;
        }
    }

    .productCard{
        max-width: 40% !important;
    }

    
}


@media screen and (max-width:600px) {

    .productCard {
        max-width: 55% !important;
    }

    .CartItems {
        article{
            h2{
                font-size: 16px; 
            }
        }
    }

    .cart > main, .cart aside, header{
        padding: 1rem !important;
    }

    .cart .CartItems div button,
    .cart .CartItems div p{
        width: 20px;
    }

    .cart .CartItems{
        grid-template-columns: 1fr 2fr 1fr 1fr
    }

    .cart {
        .CartItems{
            img {
                    max-width: 80px;
                }
        }
    } 

        
}